@font-face {
  font-family: "iconfont"; /* Project id 4009903 */
  src: url('iconfont.ttf?t=1684399578086') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiemudanxiangxi-huikan:before {
  content: "\e603";
}

.icon-shouye:before {
  content: "\e63e";
}

.icon-shezhi:before {
  content: "\e663";
}

.icon-shangchuantupianjiazaizhong:before {
  content: "\e66c";
}

.icon-a-jiazaizhongtoumingdu:before {
  content: "\e666";
}

.icon-chenggong:before {
  content: "\e602";
}

.icon-loading:before {
  content: "\e70d";
}

.icon-gengduo1:before {
  content: "\ec1c";
}

.icon-youjiantou:before {
  content: "\e622";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-guanbi:before {
  content: "\e61c";
}

.icon-shanchu:before {
  content: "\e625";
}

.icon-checked:before {
  content: "\ea82";
}

.icon-jia:before {
  content: "\e600";
}

.icon-gengduo:before {
  content: "\e605";
}

.icon-shaixuan:before {
  content: "\e692";
}

.icon-tongzhi:before {
  content: "\e627";
}

