// 内容容器样式变量
$content-padding-top: 15px;
$content-padding-right: 15px;
$content-padding-bottom: 15px;
$content-padding-left: 15px;

// 标题padding
$title-padding-top: 15px;
$title-padding-right: 15px;
$title-padding-bottom: 15px;
$title-padding-left: 15px;

// 块级外边距
$content-margin-top: 15px;
$content-margin-right: 15px;
$content-margin-bottom: 15px;
$content-margin-left: 15px;

$item-padding-top: 15px;
$item-padding-right: 15px;
$item-padding-bottom: 15px;
$item-padding-left: 15px;

// 块内元素外边距
$item-margin-top: 15px;
$item-margin-right: 15px;
$item-margin-bottom: 15px;
$item-margin-left: 15px;

// 块内元素外边距
$item-title-padding-top: 8px;
$item-title-padding-right: 15px;
$item-title-padding-bottom: 8px;
$item-title-padding-left: 15px;

// 图标外边距
$icon-margin-top: 6px;
$icon-margin-right: 6px;
$icon-margin-bottom: 6px;
$icon-margin-left: 6px;

// 标题距离内容外边距
$title-margin-bottom: 10px;

// font-size
$main-size: 14px; // 主要字体大小
$header-size: 18px; // header标题字体大小
$title-size: 16px; // 标题size
$title-size-low: 14px; // 二级标题size
$tip-size: 13px; // 提示文字size
$dialog-title-size: 14px; // 弹框标题文字大小
$time-size: 12px; // 定位时间字体大小

// 字体加粗
$title-weight: 600;

// font-color
$main-color: #3179E5; // 主题色
$title-font-color: #333; // 标题字体颜色
$title-option-font-color: #666; // 标题选项字体颜色
$main-font-color: #333; // 主要字体颜色
$sce-font-color: #666; // 次要字体颜色
$desc-font-color: #333333; // 描述字体颜色
$tip-font-color: #999999; // 提示字体颜色
$success-font-color: #22C045; // 成功字体颜色
$error-font-color: #EA5050; // 失败字体颜色
$disabled-font-color: #DEDEDE; // 禁用字体颜色

// other
$radius: 8px;
$main-bg: #F1F3F5;
$content-bg: #ffffff;
